.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: var(--gg-space-3);
}

.valueWithBadge {
  display: inline-flex;
  align-items: baseline;
  gap: var(--gg-space-2);
}

.badge {
  align-self: center;
}
